body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header 
{
    background: linear-gradient(to right, #FF5733, #FFBD33); 
    text-align: center;
    padding: 20px;
}

.container {
    margin: 20px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.skill-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    background-color: #3B3C36; 
    text-align: center;
    padding: 10px;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0080; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
